@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.alignleft {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}

.alignright {
  float: right;
  margin-left: 15px;
  margin-bottom: 15px;
}

.aligncenter {
  display: block;
  margin: 0 auto 15px;
}

a:focus {
  outline: 0px solid;
}

img {
  max-width: 100%;
  height: auto;
}

.fix {
  overflow: hidden;
}

p {
  margin: 0 0 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #333;
  margin: 0 0 10px;
}

a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: #6a6a6a;
}

a:hover {
  color: #F25862;
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0 none;
}

ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.clear {
  clear: both;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #6a6a6a;
  font-weight: 400;
}

.carousel-margin .col {
  padding-right: 15px;
  padding-left: 15px;
}

button {
  border: none;
  background: none;
  outline: none;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}

.no-scroll {
  overflow: hidden;
}

header {
  background-color: transparent;
  position: relative;
  z-index: 100;
  padding: 15px 0;
  border-bottom: 1px solid rgba(231, 231, 231, 0.18);
  transition: all 0.5s ease 0s;
}
header .header-content {
  display: flex;
  align-items: center;
}
header .header-content .header-logo {
  font-size: 30px;
  font-weight: bold;
  color: #e03550;
}
header .header-content .main-menu ul {
  display: flex;
  justify-content: space-between;
}
header .header-content .main-menu ul li {
  display: flex;
  align-items: center;
  position: relative;
}
header .header-content .main-menu ul li a {
  color: #fff;
  display: block;
  font-weight: 700;
  text-transform: uppercase;
}
header .header-content .main-menu ul li a::before {
  content: "";
  width: 0;
  height: 3px;
  background-color: #e03550;
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: all 0.5s;
}
header .header-content .main-menu ul li a:hover {
  color: #e03550;
}
header .header-content .main-menu ul li a:hover::before {
  width: 100%;
}
header .header-content .main-menu ul li.active a {
  color: #e03550;
}
header .header-content .main-menu ul li.active a::before {
  width: 100%;
}
header .header-content .header-right li {
  display: inline;
  float: right;
  position: relative;
  font-size: 24px;
  margin-left: 35px;
}
header .header-content .header-right li .fa-cart-shopping:hover {
  color: #e03550;
}
header .header-content .header-right li .total-qty {
  position: absolute;
  top: -2px;
  right: -8px;
  background-color: #333;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
header .header-content .header-right li a {
  color: #fff;
}
header .header-content .header-right li a:hover {
  color: #e03550;
}

/* Header khi cố định */
header.nav-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 100;
  transition: all 0.3s ease-in-out;
}
header.nav-fixed .main-menu ul li a {
  color: #333;
}
header.nav-fixed .header-right li .fa-cart-shopping {
  color: #333;
}
header.nav-fixed .header-right li .total-qty {
  background-color: #fff;
  color: #333;
}
header.nav-fixed .header-right li a {
  color: #333;
}

.slider-area {
  position: relative;
  top: -80px;
}
.slider-area .owl-carousel {
  position: relative;
  width: 100%;
}
.slider-area .slider-content {
  min-height: 620px;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  width: 100%;
}
.slider-area img {
  margin: 100px auto 0;
  max-width: 20%;
  height: auto;
  display: block;
}
.slider-area h1 {
  font-size: 50px;
  margin-top: 10px;
  color: #fff;
  letter-spacing: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.slider-area h2 {
  font-size: 60px;
  text-transform: uppercase;
  margin-top: 10px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.slider-area h3 {
  font-size: 20px;
  margin: 30px 0 50px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.slider-area span {
  font-size: 14px;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  transition: all 0.2s ease;
}
.slider-area span:hover {
  color: #e03550;
  border-color: #e03550;
  background-color: none;
}
.slider-area .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.bg1 {
  background-image: url("./../img/slider-3.jpg");
}

.bg2 {
  background-image: url("./../img/slider-4.jpg");
}

.bg-custom {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.service-area {
  margin-top: -10px;
  padding-bottom: 70px;
}
.service-area .service-img {
  float: left;
  margin-right: 24px;
}
.service-area .service-img img {
  max-width: 100%;
  height: auto;
}
.service-area .service-info {
  overflow: hidden;
}
.service-area .service-info h3 {
  font-size: 16px;
  position: relative;
}
.service-area .service-info h3::after {
  background-color: #000;
  bottom: -4px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 45px;
}
.service-area .service-info p {
  font-size: 13px;
}

.product-main-items {
  padding-bottom: 55px;
  /* Tùy chỉnh giao diện của select */
}
.product-main-items .product-title {
  margin-bottom: 40px;
}
.product-main-items .product-title h2 {
  display: inline-block;
  font-size: 24px;
  padding-left: 10px;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 0;
}
.product-main-items .product-title h2::before {
  background-color: #000;
  content: "";
  height: 22px;
  left: 0;
  position: absolute;
  top: 1px;
  transform: rotate(20deg);
  width: 2px;
}
.product-main-items .product-title h2::after {
  bottom: 4px;
  color: #f25862;
  content: "\f04d";
  font-family: fontawesome;
  position: absolute;
  right: -14px;
  font-size: 7px;
}
.product-main-items .form-select {
  background-color: #f8f8f8;
  padding: 11px 16px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}
.product-main-items .form-select:hover {
  background-color: #e0e0e0;
  border-color: #aaa;
}
.product-main-items .form-select option {
  background-color: #fff;
  font-size: 16px;
  cursor: pointer;
}
.product-main-items .single-product {
  float: left;
  width: 100%;
  margin: 0px 0 40px;
  border-right: 1px solid #fff;
  overflow: hidden;
  position: relative;
}
.product-main-items .single-product .level-pro-new {
  background-color: #5eb4c1;
  color: #fff;
  min-width: 78px;
  padding: 5px 10px;
  position: absolute;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  z-index: 5;
}
.product-main-items .single-product .product-img a {
  border-bottom: 0px solid #e6e6e6;
  display: block;
  position: relative;
  background-color: #EFEFEF;
}
.product-main-items .single-product .actions {
  background-color: #efefef;
  border-bottom: 0 solid #e6e6e6;
  border-top: 0 solid #e6e6e6;
  bottom: 78px;
  margin-top: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0 10px;
  position: absolute;
  transition: all 0.3s ease 0s;
  visibility: hidden;
  z-index: 99;
}
.product-main-items .single-product .actions button.cart-btn {
  background-color: #333333;
  color: #fff;
  float: left;
  height: 35px;
  padding: 0px 20px;
  transition: all 0.3s ease 0s;
  border: 0 none;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}
.product-main-items .single-product .actions button.cart-btn:hover {
  background-color: #f25862;
}
.product-main-items .single-product .actions .add-to-link {
  float: left;
}
.product-main-items .single-product .actions .add-to-link li {
  margin: 0px -2px;
  display: inline-block;
}
.product-main-items .single-product .actions .add-to-link li a {
  background-color: #333;
  border-left: 1px solid #888;
  color: #fff;
  height: 35px;
  line-height: 35px;
  position: relative;
  width: 35px;
  z-index: 1;
  display: block;
  text-align: center;
}
.product-main-items .single-product .actions .add-to-link li a::after {
  background-color: #E03550;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translate3d(0px, 100%, 0px);
  transition: all 0.3s ease 0s;
  width: 100%;
  z-index: -1;
}
.product-main-items .single-product .actions .add-to-link li a:hover {
  background-color: #e03550;
  color: #fff;
}
.product-main-items .single-product:hover .actions {
  visibility: visible;
  opacity: 1;
}
.product-main-items .single-product .product-price {
  background-color: transparent;
  padding: 5px 10px 10px;
}
.product-main-items .single-product .product-price .product-name {
  margin: 7px 0 5px;
}
.product-main-items .single-product .product-price .product-name a {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.product-main-items .single-product .price-rating span {
  font-size: 16px;
  font-weight: bold;
}
.product-main-items .single-product .price-rating .ratings {
  float: right;
}
.product-main-items .single-product .price-rating .ratings svg {
  color: #ffb21e;
  font-size: 12px;
}

.newsleter-area {
  background: rgba(0, 0, 0, 0) linear-gradient(90deg, #f5f5f5 50%, #eae8e8 50%) repeat scroll 0 0;
  margin-top: 40px;
  padding-top: 35px;
  padding-bottom: 35px;
}
.newsleter-area .newsleter {
  padding-right: 15px;
}
.newsleter-area .newsleter h3 {
  border-top: 1px solid #ccc;
  font-size: 18px;
  margin-bottom: 20px;
  padding-top: 10px;
  position: relative;
  text-transform: uppercase;
}
.newsleter-area .newsleter h3::before {
  background-color: #333;
  color: #fff;
  content: "\f003";
  display: inline-block;
  font-family: fontawesome;
  height: 40px;
  line-height: 40px;
  margin-right: 10px;
  text-align: center;
  width: 40px;
}
.newsleter-area .newsleter p {
  font-size: 13px;
}
.newsleter-area .newsleter .Subscribe {
  margin-right: 30px;
  margin-top: 20px;
  position: relative;
}
.newsleter-area .newsleter .Subscribe input {
  background-color: #fff;
  border: 0 none;
  font-size: 12px;
  padding: 12px 10px;
  width: 100%;
}
.newsleter-area .newsleter .Subscribe button {
  background-color: #333;
  border: 0 none;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  height: 40px;
  padding: 0 30px;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 0;
  transition: all 0.3s ease 0s;
}
.newsleter-area .newsleter .Subscribe button:hover {
  background-color: #e03550;
}
.newsleter-area .follow {
  padding-left: 15px;
}
.newsleter-area .follow h3 {
  border-top: 1px solid #ccc;
  font-size: 18px;
  margin-bottom: 20px;
  padding-top: 10px;
  position: relative;
  text-transform: uppercase;
}
.newsleter-area .follow h3::before {
  background-color: #333;
  color: #fff;
  content: "\f003";
  display: inline-block;
  font-family: fontawesome;
  height: 40px;
  line-height: 40px;
  margin-right: 10px;
  text-align: center;
  width: 40px;
}
.newsleter-area .follow p {
  font-size: 13px;
}
.newsleter-area .follow .follow-link li {
  display: inline-block;
}
.newsleter-area .follow .follow-link li a {
  border: 1px solid #ada4a4;
  border-radius: 50%;
  display: inline-block;
  font-size: 13px;
  height: 32px;
  line-height: 32px;
  margin-right: 15px;
  margin-top: 10px;
  text-align: center;
  width: 32px;
}

.footer-top-area {
  background-color: #232222;
  color: #a8a8a8;
  padding: 40px 0;
}
.footer-top-area p {
  font-size: 13px;
  line-height: 20px;
}
.footer-top-area .address {
  margin-top: 20px;
}
.footer-top-area .address li {
  background-color: #383838;
  font-size: 13px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.footer-top-area .address li svg {
  background-color: #838383;
  color: #c4c4c4;
  width: 12px;
  height: auto;
  margin-right: 10px;
  padding: 10px;
}
.footer-top-area h3 {
  border-top: 1px solid #959595;
  color: #959595;
  font-size: 14px;
  margin-bottom: 30px;
  padding-top: 10px;
  text-transform: uppercase;
}
.footer-top-area .footer-content {
  margin-left: 36px;
}
.footer-top-area .footer-content li {
  border-bottom: 1px solid #363636;
  line-height: 45px;
  overflow: hidden;
}
.footer-top-area .footer-content li a {
  color: #b6b6b6;
  font-size: 13px;
  position: relative;
  text-transform: capitalize;
}
.footer-top-area .footer-content li a::before {
  content: "\f28e";
  font-family: fontawesome;
  font-size: 11px;
  margin-right: 10px;
}

.footer-area {
  padding: 20px 0px;
  background-color: #141414;
  color: #fff;
}
.footer-area p {
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.footer-area p a {
  color: #e03550;
}
.footer-area .payment-icon {
  text-align: right;
}
.footer-area #scrollUp {
  background-color: #232323;
  border: 1px solid #fff;
  bottom: 35px;
  color: #fff;
  display: inline;
  height: 40px;
  padding: 10px;
  position: fixed;
  right: 12px;
  text-align: center;
  width: 40px;
}
.footer-area #scrollUp:hover {
  background-color: #e03550;
}

.loader {
  border: 12px solid #f3f3f3;
  border-top: 12px solid #e03550;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-top: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.cart {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 300;
}
.cart .side-nav {
  display: flex;
  position: absolute;
  background: #fff;
  opacity: 0.95;
  height: 100%;
  width: 60%;
  flex-direction: column;
  top: 0;
  right: -100%;
  z-index: 310;
  transition: right 0.5s ease;
}
@media (max-width: 768px) {
  .cart .side-nav {
    width: 80%;
  }
}
.cart .side-nav .fa-xmark {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 2rem;
  z-index: 320;
  color: black;
}
.cart .side-nav .fa-xmark:hover {
  color: #e03550;
}
.cart .side-nav h2 {
  align-self: center;
  transform: translateY(1rem);
  font-size: 2.5rem;
  font-weight: 700;
  color: black;
}
.cart .side-nav .cart-items {
  flex-grow: 1;
  /* Đẩy phần tử này chiếm hết không gian có sẵn */
  overflow-y: auto;
  /* Hiển thị thanh cuộn dọc */
  overflow-x: hidden;
  /* Ẩn thanh cuộn ngang */
  margin: 2% 3%;
  height: auto;
  max-height: calc(100% - 150px);
  /* Trừ đi khoảng cách cho phần final */
  scrollbar-width: thin;
  /* Thu hẹp thanh cuộn */
  scrollbar-color: #e03550 #f1f1f1;
  /* Màu sắc thanh cuộn */
  text-align: center;
  /* Tùy chỉnh thanh cuộn cho WebKit */
}
.cart .side-nav .cart-items::-webkit-scrollbar {
  width: 8px;
  /* Độ rộng thanh cuộn */
}
.cart .side-nav .cart-items::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Màu nền của track */
}
.cart .side-nav .cart-items::-webkit-scrollbar-thumb {
  background-color: #e03550;
  /* Màu của thanh cuộn */
  border-radius: 20px;
  /* Làm bo góc thanh cuộn */
  border: 3px solid #f1f1f1;
  /* Tạo khoảng cách xung quanh thanh cuộn */
}
.cart .side-nav .cart-items .empty-cart {
  font-size: 1.75rem;
  font-weight: 700;
  opacity: 0.5;
}
.cart .side-nav .cart-items .cart-item {
  display: flex;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid black;
  padding: 10px 0;
}
.cart .side-nav .cart-items .cart-item:hover {
  background: rgba(255, 255, 255, 0.25);
}
.cart .side-nav .cart-items .cart-item .cart-img {
  display: flex;
  justify-content: center;
}
.cart .side-nav .cart-items .cart-item .cart-img img {
  width: 120px;
  height: auto;
}
.cart .side-nav .cart-items .cart-item .qty-change {
  display: flex;
  justify-content: center;
}
.cart .side-nav .cart-items .cart-item .qty-change .btn-qty {
  border: 1px solid black;
  border-radius: 50%;
  padding: 0px 8px;
  font-size: 12px;
  color: black;
}
.cart .side-nav .cart-items .cart-item .qty-change .btn-qty:hover {
  background: #e03550;
  color: white;
}
.cart .side-nav .cart-items .cart-item .qty-change .qty {
  margin: 0;
  padding: 2px 5px;
  font-weight: 600;
}
.cart .side-nav .cart-items .cart-item .fa-trash {
  color: black;
}
.cart .side-nav .cart-items .cart-item .fa-trash:hover {
  color: #e03550;
}
.cart .side-nav .cart-items .cart-item .price {
  margin: 0;
  font-weight: 600;
}
.cart .side-nav .final {
  display: flex;
  position: relative;
  align-self: flex-end;
  flex-direction: column;
  padding: 20px 10px;
  bottom: 0;
}
.cart .side-nav .final strong {
  color: black;
  display: flex;
  align-self: flex-end;
  font-size: 1.65em;
  font-weight: 700;
  margin-right: 20px;
  margin-bottom: 1rem;
}
.cart .side-nav .final .action {
  display: flex;
  justify-content: space-evenly;
}
.cart .side-nav .final .action .btn {
  font-size: 1.1rem;
  font-weight: 700;
  padding: 0.9rem 1.4rem;
  border: 1px solid black;
  color: black;
  margin-right: 20px;
  border-radius: 10px;
}
.cart .side-nav .final .action .btn:hover {
  color: white;
  box-shadow: inset 20em 0 0 0 black;
}
.cart .cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  top: 0;
  left: 0;
  z-index: 200;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.invoice {
  position: absolute;
  height: 90%;
  width: 90%;
  background: rgba(0, 0, 0, 0.95);
  padding: 5% 4%;
  margin: 0 auto;
  left: 0;
  right: 0;
  align-self: center;
  flex-direction: column;
  border-radius: 20px;
  transition: 0.25s;
}
.invoice .shipping-items {
  padding: 10px 0;
  width: 100%;
  justify-content: space-between;
}
.invoice .payment {
  flex-direction: column;
}
.invoice .payment em {
  margin-top: 10px;
  font-weight: 600;
}
.invoice .payment .order {
  position: absolute;
  bottom: 10%;
  width: 40%;
  justify-content: space-around;
}/*# sourceMappingURL=style.css.map */