.cart {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 300;

    .side-nav {
        display: flex;
        position: absolute;
        background: #fff;
        opacity: 0.95;
        height: 100%;
        width: 60%;
        flex-direction: column;
        top: 0;
        right: -100%;
        z-index: 310;
        transition: right 0.5s ease;

        @media (max-width: 768px) {
            width: 80%;
        }

        .fa-xmark {
            position: absolute;
            top: 20px;
            right: 30px;
            font-size: 2rem;
            z-index: 320;
            color: black;

            &:hover {
                color: #e03550;
            }
        }

        h2 {
            align-self: center;
            transform: translateY(1rem);
            font-size: 2.5rem;
            font-weight: 700;
            color: black;
        }

        .cart-items {
            flex-grow: 1;
            /* Đẩy phần tử này chiếm hết không gian có sẵn */
            overflow-y: auto;
            /* Hiển thị thanh cuộn dọc */
            overflow-x: hidden;
            /* Ẩn thanh cuộn ngang */
            margin: 2% 3%;
            height: auto;
            max-height: calc(100% - 150px);
            /* Trừ đi khoảng cách cho phần final */
            scrollbar-width: thin;
            /* Thu hẹp thanh cuộn */
            scrollbar-color: #e03550 #f1f1f1;
            /* Màu sắc thanh cuộn */
            text-align: center;

            /* Tùy chỉnh thanh cuộn cho WebKit */
            &::-webkit-scrollbar {
                width: 8px;
                /* Độ rộng thanh cuộn */
            }

            &::-webkit-scrollbar-track {
                background: #f1f1f1;
                /* Màu nền của track */
            }

            &::-webkit-scrollbar-thumb {
                background-color: #e03550;
                /* Màu của thanh cuộn */
                border-radius: 20px;
                /* Làm bo góc thanh cuộn */
                border: 3px solid #f1f1f1;
                /* Tạo khoảng cách xung quanh thanh cuộn */
            }

            .empty-cart {
                font-size: 1.75rem;
                font-weight: 700;
                opacity: 0.5;
            }

            .cart-item {
                display: flex;
                align-items: center;
                text-align: center;
                border-bottom: 1px solid black;
                padding: 10px 0;

                &:hover {
                    background: rgba(255, 255, 255, 0.25);
                }

                .cart-img {
                    display: flex;
                    justify-content: center;

                    img {
                        width: 120px;
                        height: auto;
                    }
                }

                .qty-change {
                    display: flex;
                    justify-content: center;

                    .btn-qty {
                        border: 1px solid black;
                        border-radius: 50%;
                        padding: 0px 8px;
                        font-size: 12px;
                        color: black;

                        &:hover {
                            background: #e03550;
                            color: white;
                        }
                    }

                    .qty {
                        margin: 0;
                        padding: 2px 5px;
                        font-weight: 600;
                    }
                }

                .fa-trash {
                    color: black;

                    &:hover {
                        color: #e03550;
                    }
                }

                .price {
                    margin: 0;
                    font-weight: 600;
                }
            }
        }

        .final {
            display: flex;
            position: relative;
            align-self: flex-end;
            flex-direction: column;
            padding: 20px 10px;
            bottom: 0;

            strong {
                color: black;
                display: flex;
                align-self: flex-end;
                font-size: 1.65em;
                font-weight: 700;
                margin-right: 20px;
                margin-bottom: 1rem;
            }

            .action {
                display: flex;
                justify-content: space-evenly;

                .btn {
                    font-size: 1.1rem;
                    font-weight: 700;
                    padding: 0.9rem 1.4rem;
                    border: 1px solid black;
                    color: black;
                    margin-right: 20px;
                    border-radius: 10px;

                    &:hover {
                        color: white;
                        box-shadow: inset 20em 0 0 0 black;
                    }
                }
            }
        }
    }

    .cover {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.75);
        backdrop-filter: blur(5px);
        top: 0;
        left: 0;
        z-index: 200;
        transition: opacity 0.3s ease, visibility 0.3s ease;
    }
}