.footer-top-area {
    background-color: #232222;
    color: #a8a8a8;
    padding: 40px 0;

    p {
        font-size: 13px;
        line-height: 20px;
    }

    .address {
        margin-top: 20px;

        li {
            background-color: #383838;
            font-size: 13px;
            margin-bottom: 15px;
            display: flex;
            align-items: center;

            svg {
                background-color: #838383;
                color: #c4c4c4;
                width: 12px;
                height: auto;
                margin-right: 10px;
                padding: 10px;
            }
        }
    }


    h3 {
        border-top: 1px solid #959595;
        color: #959595;
        font-size: 14px;
        margin-bottom: 30px;
        padding-top: 10px;
        text-transform: uppercase;
    }

    .footer-content {
        margin-left: 36px;

        li {
            border-bottom: 1px solid #363636;
            line-height: 45px;
            overflow: hidden;

            a {
                color: #b6b6b6;
                font-size: 13px;
                position: relative;
                text-transform: capitalize;

                &::before {
                    content: "\f28e";
                    font-family: fontawesome;
                    font-size: 11px;
                    margin-right: 10px;
                }
            }
        }
    }
}

.footer-area {
    padding: 20px 0px;
    background-color: #141414;
    color: #fff;

    p {
        font-size: 13px;
        margin-top: 10px;
        margin-bottom: 0px;

        a {
            color: #e03550;
        }
    }

    .payment-icon {
        text-align: right;
    }

    #scrollUp {
        background-color: #232323;
        border: 1px solid #fff;
        bottom: 35px;
        color: #fff;
        display: inline;
        height: 40px;
        padding: 10px;
        position: fixed;
        right: 12px;
        text-align: center;
        width: 40px;

        &:hover {
            background-color: #e03550;
        }
    }
}