.product-main-items {
    padding-bottom: 55px;

    .product-title {
        margin-bottom: 40px;

        h2 {
            display: inline-block;
            font-size: 24px;
            padding-left: 10px;
            position: relative;
            text-transform: uppercase;
            margin-bottom: 0;

            &::before {
                background-color: #000;
                content: "";
                height: 22px;
                left: 0;
                position: absolute;
                top: 1px;
                transform: rotate(20deg);
                width: 2px;
            }

            &::after {
                bottom: 4px;
                color: #f25862;
                content: "\f04d";
                font-family: fontawesome;
                position: absolute;
                right: -14px;
                font-size: 7px;
            }
        }
    }

    .single-product {
        float: left;
        width: 100%;
        margin: 0px 0 40px;
        border-right: 1px solid #fff;
        overflow: hidden;
        position: relative;

        .level-pro-new {
            background-color: #5eb4c1;
            color: #fff;
            min-width: 78px;
            padding: 5px 10px;
            position: absolute;
            right: 0;
            text-align: center;
            text-transform: uppercase;
            top: 0;
            z-index: 5;
        }

        .product-img {
            a {
                border-bottom: 0px solid #e6e6e6;
                display: block;
                position: relative;
                background-color: #EFEFEF;
            }
        }

        .actions {
            background-color: #efefef;
            border-bottom: 0 solid #e6e6e6;
            border-top: 0 solid #e6e6e6;
            bottom: 63px;
            margin-top: 0;
            opacity: 0;
            overflow: hidden;
            padding: 0 10px;
            position: absolute;
            transition: all 0.3s ease 0s;
            visibility: hidden;
            z-index: 99;

            button.cart-btn {
                background-color: #333333;
                color: #fff;
                float: left;
                height: 35px;
                padding: 0px 20px;
                transition: all 0.3s ease 0s;
                border: 0 none;
                font-size: 12px;
                font-weight: 700;
                text-transform: uppercase;

                &:hover {
                    background-color: #f25862;
                }
            }

            .add-to-link {
                float: left;

                li {
                    margin: 0px -2px;
                    display: inline-block;

                    a {
                        background-color: #333;
                        border-left: 1px solid #888;
                        color: #fff;
                        height: 35px;
                        line-height: 35px;
                        position: relative;
                        width: 35px;
                        z-index: 1;
                        display: block;
                        text-align: center;

                        &::after {
                            background-color: #E03550;
                            content: "";
                            height: 100%;
                            left: 0;
                            position: absolute;
                            top: 0;
                            transform: translate3d(0px, 100%, 0px);
                            transition: all 0.3s ease 0s;
                            width: 100%;
                            z-index: -1;
                        }

                        &:hover {
                            background-color: #e03550;
                            color: #fff;
                        }
                    }
                }
            }
        }

        &:hover {
            .actions {
                visibility: visible;
                opacity: 1;
            }
        }

        .product-price {
            background-color: transparent;
            padding: 5px 10px 10px;

            a {
                margin: 7px 0 5px;
                font-size: 14px !important;
                text-transform: uppercase !important;
            }
        }

        .price-rating {
            span {
                font-size: 15px;
                font-weight: 700;
            }

            .ratings {
                float: right;

                svg {
                    color: #ffb21e;
                    font-size: 12px;
                }
            }
        }
    }
}